#nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.logo img{
    height: 70px;
    padding-left: 10px;
}

.nav-items{
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.nav-items li{
    list-style: none;
    font-weight: 600;

}